{% extends 'base.html.twig' %}
{% block title %}
	- accueil
{% endblock %}
{% block contentPage %}
	<section class="home-section">
		<div class="container-small">
			<div class="block block-left">
				<div class="block-img">
					<img src="{{ asset('assets/img/burger.jpg') }}" alt="">
				</div>
				<div class="block-body">
					<h2 class="title">
						<span>Découvrir</span>
						NOTRE GASTRONOMIE</h2>
					<p>
						Assister à un salon professionnel peut être une méthode très efficace pour promouvoir votre entreprise et ses produits. Et l'un des moyens les plus efficaces d'optimiser l'affichage de votre salon et d'augmenter le trafic vers votre stand consiste à utiliser des supports de bannières.
					</p>
					<div class="more">
						<a href="recipe.html">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="block block-right">
				<div class="block-img">
					<img src="{{ asset('assets/img/crusted-chicken.jpg') }}" alt="">
				</div>
				<div class="block-body">
					<h2 class="title">
						<span>Découvrir</span>
						NOTRE GASTRONOMIE</h2>
					<p>
						Assister à un salon professionnel peut être une méthode très efficace pour promouvoir votre entreprise et ses produits. Et l'un des moyens les plus efficaces d'optimiser l'affichage de votre salon et d'augmenter le trafic vers votre stand consiste à utiliser des supports de bannières.
					</p>
					<div class="more">
						<a href="recipe.html">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="block block-centered block-last">
				<div class="block-body">
					<h2 class="title">
						<span>Menu</span>
						CERTIFIÉ BIOLOGIQUE</h2>
					<p>
						Les petites annonces sont une forme de publicité particulièrement courante dans les journaux et autres périodiques. Une petite annonce est généralement textuelle et peut comprendre aussi peu que le type d'article vendu et un numéro de contact à appeler pour plus d'informations.
					</p>
				</div>
			</div>
			<nav class="ingredients-menu">
				<a href="#" class="active">ŒUFS</a>
				<a href="#">Porc</a>
				<a href="#">POULET</a>
				<a href="#">POISSON</a>
				<a href="#">VÉGÉTALIEN</a>
			</nav>
		</div>
		<div class="container">
			<div class="menu-summary" id="menu">
				<div class="menu-summary-item">
					<img src="{{ asset('assets/img/crusted-chicken-square.jpg') }}" alt="" class="menu-summary-img">
					<h3 class="menu-summary-title">Incroyable poulet en croûte</h3>
					<p>Beryl Cook est l'une des artistes les plus talentueuses et les plus amusantes de Grande-Bretagne. Les photos de Beryl présentent des femmes de toutes formes et tailles s'amusant
					</p>
					<div class="menu-summary-price">€20</div>
				</div>
				<div class="menu-summary-item">
					<img src="{{ asset('assets/img/bobun-light-square.jpg') }}" alt="" class="menu-summary-img">
					<h3 class="menu-summary-title">BoBun léger impair</h3>
					<p>Beryl Cook est l'une des artistes les plus talentueuses et les plus amusantes de Grande-Bretagne. Les photos de Beryl présentent des femmes de toutes formes et tailles s'amusant
					</p>
					<div class="menu-summary-price">€20</div>
				</div>
				<div class="menu-summary-item">
					<img src="{{ asset('assets/img/poisson-square.jpg') }}" alt="" class="menu-summary-img">
					<h3 class="menu-summary-title">Incroyable poulet en croûte</h3>
					<p>Beryl Cook est l'une des artistes les plus talentueuses et les plus amusantes de Grande-Bretagne. Les photos de Beryl présentent des femmes de toutes formes et tailles s'amusant
					</p>
					<div class="menu-summary-price">€20</div>
				</div>
				<div class="menu-summary-item">
					<img src="{{ asset('assets/img/paella-square.jpg') }}" alt="" class="menu-summary-img">
					<h3 class="menu-summary-title">Paella aux oeufs épicés</h3>
					<p>Beryl Cook est l'une des artistes les plus talentueuses et les plus amusantes de Grande-Bretagne. Les photos de Beryl présentent des femmes de toutes formes et tailles s'amusant
					</p>
					<div class="menu-summary-price">€20</div>
				</div>
			</div>
			<div class="block block-chief">
				<div class="block-img">
					<img src="{{ asset('assets/img/chief.jpg') }}" alt="">
				</div>
				<div class="block-body">
					<h2 class="title">
						<span>Chef</span>
						RENCONTREZ NOTRE CHEF EXÉCUTIF, CHRISTIAN JACOB</h2>
					<p>
						Si vous envisagez d'acheter un nouveau gril ou barbecue, vous serez confronté à une multitude d'options parmi lesquelles choisir. Cependant, il y a un choix que vous devrez faire assez rapidement dans votre quête du gril parfait pour vous. Cette décision est d'acheter un gril à charbon ou à gaz.
					</p>
					<p>
						Wow, j'ai envie d'un très bon poulet rôti sur le gril, la variété qui fond dans la bouche avec de la salsa maison fraîche enduite juste au-dessus.
					</p>
					<div class="more">
						<a href="recipe.html">Voir plus</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="reservation" id="reservation">
		<div class="container">
			<div class="block block-centered block-last">
				<div class="block-body">
					<h2 class="title">
						<span>Réservation</span>
						FAIRE UNE RÉSERVATION</h2>
					<p>
						Les petites annonces sont une forme de publicité particulièrement courante dans les journaux et autres périodiques. Une petite annonce est généralement textuelle et peut consister en.
					</p>
					<form action="#" class="reservation-form">
						<div class="reservation-form-row">
							<input type="text" name="fullname" placeholder="Nom complet">
							<select name="persons">
								<option value="1">Pour 1 personne</option>
								<option value="2">Pour 2 personnes</option>
								<option value="3">Pour 3 personnes</option>
								<option value="4">Pour 4 personnes</option>
							</select>
							<input type="date" name="date">
						</div>
						<button class="button">Réserver une table</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="recipes" id="recipes">
		<div class="container">
			<h2 class="title">
				<span>Recettes</span>
				NOUS PARTAGEONS NOS RECETTES AVEC VOUS
			</h2>
			<p>
				Si vous envisagez d'acheter un nouveau gril ou barbecue, vous serez confronté à une multitude d'options parmi lesquelles choisir. Cependant, il y a un choix dont vous aurez besoin.
			</p>
			<div class="recipes-list">
				<div class="recipes-list-item">
					<div class="recipes-date">
						<strong>29</strong>
						SEP
					</div>
					<p>
						<a href="recipe1.html">
							Hachés, tranchés ou en quartiers, les œufs cuits durs sont la base de la salade aux œufs et ajoutent des protéines et une lueur joyeuse aux salades et aux casseroles mélangées et composées.
						</a>
					</p>
				</div>
				<div class="recipes-list-item">
					<div class="recipes-date">
						<strong>29</strong>
						SEP
					</div>
					<p>
						Hachés, tranchés ou en quartiers, les œufs cuits durs sont la base de la salade aux œufs et ajoutent des protéines et une lueur joyeuse aux salades et aux casseroles mélangées et composées.
					</p>
				</div>
				<div class="recipes-list-item">
					<div class="recipes-date">
						<strong>29</strong>
						SEP
					</div>
					<p>
						Hachés, tranchés ou en quartiers, les œufs cuits durs sont la base de la salade aux œufs et ajoutent des protéines et une lueur joyeuse aux salades et aux casseroles mélangées et composées.
					</p>
				</div>
			</div>
			<div class="more">
				<a href="#">Allez sur notre blog</a>
			</div>
		</div>
	</section>
	<div class="map" id="map"></div>

{% endblock %}
