{% extends 'base.html.twig' %}

{% block title %}
	- connexion
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block contentPage %}
	{% block header %}{% endblock %}
	<header id="header-login" class="header">
		<div class="topbar">
			<div class="logo">
				<a href="/">Le Fiasco</a>
			</div>
			<nav class="menu">
				<a href="/a-propos" class="menu-item">à propos</a>
				<a href="/menu" class="menu-item">Menu</a>
				<a href="/recette" class="menu-item">Recette</a>
				<a href="/contact" class="menu-item">Contact</a>
				<a href="/reserver" class="menu-item menu-button">Réserver</a>
			</nav>
		</div>
		<div class="baseline">
			<span class="baseline-welcome">{{baseline.baseLineWelcome}}</span>
			<strong class="baseline-name">{{baseline.baseLineName}}</strong>
			<span class="baseline-slogan">{{baseline.baseLineSlogan}}</span>
		</div>
		<div class="container">
			<form method="post" class="form-login">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}
				<label class="label-login" for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label class="label-login" for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{# 
																																																																Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																														        See https://symfony.com/doc/current/security/remember_me.html
																																																												
																																																																<div class="checkbox mb-3">
																																																																	<label>
																																																																		<input type="checkbox" name="_remember_me">
																																																																		Remember me
																																																																	</label>
																																																																</div> #}


				<button class="btn btn-lg btn-primary btn-login" type="submit">
					Se connecter
				</button>
			</form>
		</div>
	</header>

	{% block JS %}
		<script src="{{ asset('assets/js/login.js') }}"></script>
	{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}
