<header class="header">
	<div class="topbar">
		<div class="logo">
			<a href="/">Le Fiasco</a>
		</div>
		<nav class="menu">
			<a href="{{ path('a-propos') }}" class="menu-item">à propos</a>
			<a href="{{ path('menu') }}" class="menu-item">Menu</a>
			<a href="{{ path('recette') }}" class="menu-item">Recette</a>
			<a href="{{ path('contact') }}" class="menu-item">Contact</a>
			{% if app.user %}
				<a href="{{ path('account') }}" class="menu-item">Mon compte</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="menu-item">Se connecter</a>
			{% endif %}

			<a href="{{ path('reserver') }}" class="menu-item menu-button">
				Réserver
				<i class="fas fa-book-open"></i>
			</a>
		</nav>
	</div>
	<div class="baseline">
		<span class="baseline-welcome">{{baseline.baseLineWelcome}}</span>
		<strong class="baseline-name">{{baseline.baseLineName}}</strong>
		<span class="baseline-slogan">{{baseline.baseLineSlogan}}</span>
	</div>
</header>
